body{
    background-color: #4CAF50;
}

@media screen and (max-width: 952px) {
    body{
        background-color: #42A29E;
    }
}

@media screen and (max-width: 600px){
    body{
        background-color: #66FCF1;
    }
}